*{
    margin: 0;
    padding: 0;
}

body{
    background: white;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(250, 214, 164);
}

.sc-1{
    background-color: rgb(30, 48, 60);
    color: white;
    display: flex;
    align-items: center;
    font-family: sans-serif;
}
h1{
    padding-left: 120px;
    margin-bottom: 30px;
}


.nav-list{
    display: flex;
    width: 50vw;
    justify-content: space-between;
    list-style: none;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
#logo{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: aliceblue;
}

image{
    background-color: white;
}
nav{
    display: flex;
    background-color: #6d2f2f;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    z-index: 7;

}
.mobile-menu{
display: none;
cursor: pointer;
}
.mobile-menu div{
    width: 50px;
    height: 2px;
    background-color: aliceblue;
    margin: 8px;
    transition: 1s;
}

@media (max-width:900px){
    body{
        overflow-y: hidden;
    }
    nav{
        z-index: 3;
    }
    .nav-list{
        position: absolute;
        top: 10vh;
        flex-direction: column;
        right: 0;
        width: 100vw;
        background-color: #802200;
        justify-content: space-around;
        align-items: center;
        height: 90vh;
        transform: translateY(-150%);
        transition: transform 0.5s ease-out;
        z-index: 2;
        
    }
    .linha:before{
        border: white 2px solid;
        height: auto;
        width: 100%;
        position: relative;
        bottom: 100px;
    }
    .linha:after{
        border: white 2px solid;
        height: auto;
        width: 100%;
    }
    .nav-list li{
        margin-left: 0;
    }
    #logo{
        width: 25%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: rgb(253, 253, 253);
        height: 10vh;
    }
    .mobile-menu{
        display: block;
        cursor: pointer;
    }

}
.nav-list.active{
    transform: translateY(0);
}
@keyframes fade{
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line-1{
    transform: rotate(-45deg) translate(-8px,8px);
}
.mobile-menu.active .line-2{
    opacity: 0;
}
.mobile-menu.active .line-3{
    transform: rotate(45deg) translate(-5px,-7px);
}
@keyframes animation{
    from{
        border-radius: 0px;
    }
    to{
        border-radius: 300px;
    }
}


.movies-navbar-links{
    color: black;
}

.movies-navbar-links a{
    color: black;
}

img{
    width: 350px;
    height: 200px;
}
